In [1]:
# importing the library in project
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')


# importing the ML model to train the data( train_test_spilit, Standar_scaler,SVM,Decision Tree,classification and accuracy score)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score, classification_report
import joblib

In [2]:
df=pd.read_csv('dataset_sdn.csv')

In [3]:
df

,dt,switch,src,dst,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,...,pktrate,Pairflow,Protocol,port_no,tx_bytes,rx_bytes,tx_kbps,rx_kbps,tot_kbps,label
0,11425,1,10.0.0.1,10.0.0.8,45304,48294064,100,716000000,1.010000e+11,3,...,451,0,UDP,3,143928631,3917,0,0.0,0.0,0
1,11605,1,10.0.0.1,10.0.0.8,126395,134737070,280,734000000,2.810000e+11,2,...,451,0,UDP,4,3842,3520,0,0.0,0.0,0
2,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,1,3795,1242,0,0.0,0.0,0
3,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,2,3688,1492,0,0.0,0.0,0
4,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,3,3413,3665,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104340,5262,3,10.0.0.5,10.0.0.7,79,7742,81,842000000,8.184200e+10,5,...,0,0,ICMP,1,15209,12720,1,1.0,2.0,0
104341,5262,3,10.0.0.5,10.0.0.7,79,7742,81,842000000,8.184200e+10,5,...,0,0,ICMP,3,15099,14693,1,1.0,2.0,0
104342,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,ICMP,2,3409,3731,0,0.0,0.0,0
104343,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,ICMP,1,15209,12720,1,1.0,2.0,0
104344,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,ICMP,3,15099,14693,1,1.0,2.0,0

In [4]:
df.shape

(104345, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104345 entries, 0 to 104344
Data columns (total 23 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   dt           104345 non-null  int64
 1   switch       104345 non-null  int64
 2   src          104345 non-null  object
 3   dst          104345 non-null  object
 4   pktcount     104345 non-null  int64
 5   bytecount    104345 non-null  int64
 6   dur          104345 non-null  int64
 7   dur_nsec     104345 non-null  int64
 8   tot_dur      104345 non-null  float64
 9   flows        104345 non-null  int64
 10  packetins    104345 non-null  int64
 11  pktperflow   104345 non-null  int64
 12  byteperflow  104345 non-null  int64
 13  pktrate      104345 non-null  int64
 14  Pairflow     104345 non-null  int64
 15  Protocol     104345 non-null  object
 16  port_no      104345 non-null  int64
 17  tx_bytes     104345 non-null  int64
 18  rx_bytes     104345 non-null  int64
 19  tx_kbps      104345 non-null  int64
 20  rx_kbps      103839 non-null  float64
 21  tot_kbps     103839 non-null  float64
 22  label        104345 non-null  int64
dtypes: float64(3), int64(17), object(3)
memory usage: 18.3+ MB

In [6]:
df.isnull().sum()

dt               0
switch           0
src              0
dst              0
pktcount         0
bytecount        0
dur              0
dur_nsec         0
tot_dur          0
flows            0
packetins        0
pktperflow       0
byteperflow      0
pktrate          0
Pairflow         0
Protocol         0
port_no          0
tx_bytes         0
rx_bytes         0
tx_kbps          0
rx_kbps        506
tot_kbps       506
label            0
dtype: int64

In [7]:
df['rx_kbps'].fillna(df['rx_kbps'].median(),inplace=True)
df['tot_kbps'].fillna(df['tot_kbps'].median(),inplace=True)

In [8]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['Protocol'] = encoder.fit_transform(df['Protocol'])

In [9]:
df.isnull().sum()

dt             0
switch         0
src            0
dst            0
pktcount       0
bytecount      0
dur            0
dur_nsec       0
tot_dur        0
flows          0
packetins      0
pktperflow     0
byteperflow    0
pktrate        0
Pairflow       0
Protocol       0
port_no        0
tx_bytes       0
rx_bytes       0
tx_kbps        0
rx_kbps        0
tot_kbps       0
label          0
dtype: int64

In [10]:
df

,dt,switch,src,dst,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,...,pktrate,Pairflow,Protocol,port_no,tx_bytes,rx_bytes,tx_kbps,rx_kbps,tot_kbps,label
0,11425,1,10.0.0.1,10.0.0.8,45304,48294064,100,716000000,1.010000e+11,3,...,451,0,2,3,143928631,3917,0,0.0,0.0,0
1,11605,1,10.0.0.1,10.0.0.8,126395,134737070,280,734000000,2.810000e+11,2,...,451,0,2,4,3842,3520,0,0.0,0.0,0
2,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,2,1,3795,1242,0,0.0,0.0,0
3,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,2,2,3688,1492,0,0.0,0.0,0
4,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,2,3,3413,3665,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104340,5262,3,10.0.0.5,10.0.0.7,79,7742,81,842000000,8.184200e+10,5,...,0,0,0,1,15209,12720,1,1.0,2.0,0
104341,5262,3,10.0.0.5,10.0.0.7,79,7742,81,842000000,8.184200e+10,5,...,0,0,0,3,15099,14693,1,1.0,2.0,0
104342,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,0,2,3409,3731,0,0.0,0.0,0
104343,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,0,1,15209,12720,1,1.0,2.0,0
104344,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,0,3,15099,14693,1,1.0,2.0,0

In [11]:
X=df.drop(columns=['src','dst','dt','switch','port_no','dur_nsec','label'])

In [12]:
y=df['label']

In [13]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [14]:
scaler=StandardScaler()

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69911 entries, 28705 to 15795
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pktcount     69911 non-null  int64
 1   bytecount    69911 non-null  int64
 2   dur          69911 non-null  int64
 3   tot_dur      69911 non-null  float64
 4   flows        69911 non-null  int64
 5   packetins    69911 non-null  int64
 6   pktperflow   69911 non-null  int64
 7   byteperflow  69911 non-null  int64
 8   pktrate      69911 non-null  int64
 9   Pairflow     69911 non-null  int64
 10  Protocol     69911 non-null  int32
 11  tx_bytes     69911 non-null  int64
 12  rx_bytes     69911 non-null  int64
 13  tx_kbps      69911 non-null  int64
 14  rx_kbps      69911 non-null  float64
 15  tot_kbps     69911 non-null  float64
dtypes: float64(3), int32(1), int64(12)
memory usage: 8.8 MB

In [16]:
x_train_scaled=scaler.fit_transform(X_train)

In [17]:
X_train

,pktcount,bytecount,dur,tot_dur,flows,packetins,pktperflow,byteperflow,pktrate,Pairflow,Protocol,tx_bytes,rx_bytes,tx_kbps,rx_kbps,tot_kbps
28705,120246,128182236,266,2.670000e+11,4,7916,13528,14420848,450,0,2,4468,1382,0,0.0,0.0
20892,16653,17752098,36,3.641100e+10,2,7503,13538,14431508,451,0,2,276816490,18063788,0,3838.0,3838.0
64048,17196,17918232,59,5.965000e+10,6,1857,8789,9158138,292,1,0,153647752,108220,2446,1.0,2447.0
101803,284,27832,291,2.910000e+11,5,3443,30,2940,1,0,0,34149,30282,0,0.0,0.0
88857,41,4018,42,4.294800e+10,3,22,29,2842,0,1,0,8344,8428,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54886,398,39004,408,4.080000e+11,6,2364,29,2842,0,1,0,74032829,74963,2816,1.0,2817.0
76820,3731,246246,11,1.122600e+10,7,8090,0,0,0,1,1,24842970,252531180,340,7845.0,8185.0
103694,763,74774,781,7.820000e+11,5,3443,30,2940,1,0,0,5904,1632,0,0.0,0.0
860,99327,105882582,220,2.210000e+11,3,1943,13651,14551966,455,0,2,3885,1492,0,0.0,0.0
15795,134705,143595530,321,3.210000e+11,5,1931,2900,3091400,96,0,2,3669,1492,0,0.0,0.0

In [18]:
x_test_scaled=scaler.fit_transform(X_test)

In [20]:
model_dt=DecisionTreeClassifier(random_state=42)

In [21]:
model_svm=SVC()

In [23]:
model_dt.fit(x_train_scaled,y_train)
y_pred_dt=model_dt.predict(x_test_scaled)

In [24]:
model_svm.fit(x_train_scaled,y_train)
y_pred_svm=model_svm.predict(x_test_scaled)

In [32]:
 print("Decision Tree Accuracy :",accuracy_score(y_test, y_pred_dt))

Decision Tree Accuracy : 0.6635011906836267

In [33]:
print("SVM Accuracy :",accuracy_score(y_test, y_pred_svm))

SVM Accuracy : 0.9638148341755242

In [34]:
 print("Decision Tree Classification", classification_report(y_test, y_pred_dt))

Decision Tree Classification               precision    recall  f1-score   support

           0       0.86      0.54      0.66     21019
           1       0.54      0.86      0.67     13415

    accuracy                           0.66     34434
   macro avg       0.70      0.70      0.66     34434
weighted avg       0.74      0.66      0.66     34434

In [35]:
print("SVM Classification :",classification_report(y_test, y_pred_svm))

SVM Classification :               precision    recall  f1-score   support

           0       0.97      0.97      0.97     21019
           1       0.95      0.96      0.95     13415

    accuracy                           0.96     34434
   macro avg       0.96      0.96      0.96     34434
weighted avg       0.96      0.96      0.96     34434

In [36]:
print("Decision Tree F1:", f1_score(y_test, y_pred_dt))

Decision Tree F1: 0.6661095582514481

In [37]:
print("SVM F1:",f1_score(y_test, y_pred_svm))

SVM F1: 0.9537147102526004

In [40]:
import joblib 
joblib.dump(model_svm,'svm_ddos.pkl')
joblib.dump(scaler,'scaler_ddos.pkl')
joblib.dump(X.columns.tolist(),'columns_ddos.pkl')

['columns_ddos.pkl']